* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*background-color: green;*/
	background-image: url("../images/desktop/wood.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}


.mapa	{
	margin-top: 100px;
}

#mission {
	margin-top: 100px;
}


#mission , #vision {
	font-size: 30px;
}


#mission h2, #vision h2 {
	font-size: 60px;
	background-color: rgba(255,255,0,0.5);
	font-weight: bolder;
}

.paa {
	margin-top: 100px;
}
.paa2 {
	margin-top: 200px;
}


h1 , h2 , h3 , p  {
	font-family: 'Roboto', sans-serif;
}
.navbar {
	box-shadow: 8px 8px 8px yellow;
}
.navbar-brand {
	font-family: 'Molle', cursive;
	text-shadow: 3px 3px 3px black;
}
.tatlo {
	border: 2px solid black;
}

#parallax-image {
	/*margin-top: 100px;*/
	background-image: url("../images/tea-field.jpg");
	height: 500px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#parallax-image h1 {
	margin-top: 200px;
	background-position: center;
	color: yellow;
	text-shadow: 10px 10px 10px black;


}
#parallax-image h2 {
	font-size: 100%;
	color: green;
	background-color: yellow;

}


#parallax-image2 {
	background-image: url("../images/desktop/wood.jpg");
	height: 1000px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
#parallax-image2 h1 {
/*	font-size: 100px;*/
}

.slidepalabas {
	border-top: 20px;
	background-image: url("../images/desktop/wood.jpg");
	background-attachment: fixed;
	width: 100%;
}
.palabas {
	margin-top: 50px;
}
.baba {
	margin-top: 50px;
}



.logo2 {
	margin-top: 35vh;
	width: 200px;
}

img	{
	/*border:2px solid black;*/
}

#navbar-nav .nav-link {
	color: white;
}

html {
	scroll-behavior: smooth;
}

/*bura*/
@font-face {
  font-family: "bagong-font";
  src: url(../fonts/Delighter.otf);
}


div.col {
	padding: 0;
}
.tea-logo img {
	width: 50px;
}
.looban {
	border : 2px solid red;
}

.navbar {
	padding: 0;
	background-color: rgba(0,0,0,0.5);
	background-color: rgba(3,75,4,1);
	width: 100%;

	
}
#paborito {
	color: yellow;
	font-size: 30px;
	font-family: 'bagong-font', sans-serif;
}

.premium {
	
	padding-top: 100px;
	padding-bottom: 50px;
	margin-top: 150px;
	/*visibility: hidden;*/
}
#button {
	background-color: red;
}

.btn-primary {
	font-size: 30px;
	background-color: yellow;
	color: black;
	width: 200px;

}


.premium h1 {
	width: 500px;
	padding: 50px;
	background-color: red;
}
.mt-selection:hover >.milktea {
	background-image: url(../images/surprised.png);
	background-size: 100%;
	transition: 0.3s;
}

.text-image-cont>.headslogan:hover ~ .milktea {
	background-image: url(../images/surprised.png);
	background-size: 100%;	
}

.mt-selection:hover >  .milktea-m + .row > .tatay > #mt-desc {
	background-color: yellow;
	color:black;
	padding: 20px;
}
.milktea-m {
	display: none;
}


#mt-desc {
	/*background-color: rgba(0,0,0,0.5);*/
	background-color: rgba(3,75,4,0.5);
	color: white;
	padding: 20px;
	text-align: justify;
  	text-justify: inter-word;
	border-radius: 20px;

}
#mt-desc h1{
	font-size: 20px;
	background-color: yellow;
	color: black;
}
#mt-desc p {
	font-size: 15px;
}

.card-body {
	height: 175px;
}
.prutas {
	box-shadow: 3px 3px 3px black;
}
.last-row {
	margin-bottom: 100px;
}

.card-body {
	color : black;
	background-color: rgba(3,75,4,1);
	box-shadow: 3px 3px 3px black;
}
.card-body h3 {
	background-color: yellow;
	text-align: center;
}

.footer {
	background-color: rgba(3,75,4,1);
	box-shadow: 8px 8px 8px yellow;
}

.karton button {
	background-color: yellow;
	text-decoration-style: none;
	box-shadow: 2px 2px 2px black;
	border-radius: 5px;
}






/*mobile phones*/
@media only screen and (max-width: 400px) {
	/** {
		padding: 0;
		margin: 0;
		box-sizing: border-box;*/
	}
	.milktea {
		display: none;
	}
	.milktea-m {
		display: block;
		margin-top: 60px;
	}
	.container-fluid {
		/*text-align: center;*/
	}
	.karton {
		margin-bottom:50px;
	}
	/*.card-body {
		margin-bottom: 50px;
	}*/

}




/*tablets*/

@media only screen and (min-width: 401px) and (max-width: 1024px) {
	

}






/*desktop*/
@media only screen and (min-width: 1025px) {
	.milktea {
		display: block;
	}
	.milktea-m {
		display: none;
		
	}
	.container-fluid {
		/*text-align: center;*/
	}
	#mt-desc {
		height: 250px;
	}
}